body{
    background-color: #f4f4f4;
    color:#555;
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    line-height:1.6;
    margin: 8px;;

}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
.h1 main-header{
    background-image: url(animexplay.jpg);
}
#main-header{
background-color:blue;
color:#fff;
background-image: url(animexplay.jpg);

}
#navbar{
    background-color: black;
    color: #fff;
}
#navbar ul{
    padding:0;
    list-style: none;
}
#navbar li{
    display:inline;
}
#navbar a{
    color:#fff;
    font-size: 18px;
    padding-right:15px;
    text-decoration: none;
}
#showcase{
    background-image:url(simple-blue-white-background-with-text-space.jpg);
    background-position:whole;
    min-height: 300px;
    margin-bottom:center;
    text-align:center;
}
#showcase h1{
    color: #000;
    font-size:50px;
    line-height: 1.6em;
    padding-top:30px;
}
#main{
    float:left;
    width:30%;
    box-sizing:border-box;
}
#sidebar{
    float:right;
    width:30%;
    background:#333;
    color:#fff;
    padding:10px;
    box-sizing:border-box;
    
}
#main-footer{
    background:#333;
    color:#fff;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }
        #sidebar{
       width:100%;
       float:none;
}
        }